<main>
  <app-header [title]="'Hours List'"></app-header>
  <div class="element">
    <app-worksite-info-card
      [title]="'Pirkkala Citymarket'"
      [address]="'Palmrothintie 2, 33950 Pirkkala'"
      [totalHours]="102"
    >
    </app-worksite-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
  </div>

  <div class="element">
    <app-worksite-info-card
      [title]="'Pirkkala Citymarket Citymarket PirkkalaCitymarket'"
      [address]="'Palmrothintie 2, 33950 Pirkkala, 2, 33950 Pirkkala'"
      [totalHours]="102"
    >
    </app-worksite-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
  </div>

  <div class="element">
    <app-worksite-info-card
      [title]="'Pirkkala Citymarket'"
      [address]="'Palmrothintie 2, 33950 Pirkkala'"
      [totalHours]="102"
    >
    </app-worksite-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
    <app-marked-hour-info-card></app-marked-hour-info-card>
  </div>
</main>
