@import "../../../styles.scss";

:host {
  max-width: 70rem;
  margin: 0 auto;
}

app-worksite-info-card {
  height: 100%;
  width: 100%;
  max-width: var(--info-card-max-width);
}

app-marked-hour-info-card {
  width: 70%;
  max-width: 40rem;
  min-width: 25rem;
}
