@import "../../../styles.scss";

.marked-hours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;

  min-height: var(--min-height-m);

  &--date {
    font-size: var(--font-size-s);
    grid-column: 1 / -1;
  }

  &--worktype {
    font-weight: var(--font-weight-l);
    color: var(--text-dark);
    font-size: var(--font-size-s);
  }

  &--hours {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-m);
    color: var(--color-secondary);
  }
}
