@import "../../../styles.scss";

main {
  display: grid;
  grid-template-columns: var(--column-side-size) repeat(6, 1fr) var(
      --column-side-size
    );
  grid-template-rows: 5rem 1fr;
  row-gap: var(--gap-size-m);
  margin-top: var(--size-m);
  margin-bottom: 10vh;
}

app-header {
  display: grid;
  grid-column: 2 / span 6;
}

app-worksite-list-element {
  display: grid;
  grid-column: 2 / span 6;
}
