<main>
  <app-header [title]="'Worksite List'"></app-header>
  <div class="worksite-list__container">
    <app-worksite-list-element
      [name]="'Pirkkala Citymarket'"
      [value]="6120"
    ></app-worksite-list-element>
    <app-worksite-list-element
      [name]="'Karkkilan ABC'"
      [value]="2040"
    ></app-worksite-list-element>
    <app-worksite-list-element
      [name]="'Caribia'"
      [value]="720"
    ></app-worksite-list-element>
    <app-worksite-list-element
      [name]="'DNA Kotka'"
      [value]="12090"
    ></app-worksite-list-element>
  </div>
</main>
