@import "../../../styles.scss";

main {
  margin: 0 var(--column-side-size);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-size-m);
  margin-top: var(--size-m);
  margin-bottom: 10vh;
}

app-header {
  display: grid;
}

.worksite-list {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-size-m);

    @media only screen and (min-width: $bp-medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
