@import "../../../styles.scss";

:host {
  position: relative;
}

img {
  position: absolute;
  top: -10px;
  right: 0;
  max-width: 40%;
  transition: 0.5s all;

  &.middlePos {
    top: 10px;
  }

  @media only screen and (min-width: $bp-small) {
    max-width: 45%;
    top: -15px;
  }

  @media only screen and (min-width: $bp-medium) {
    top: -10px;
  }
}

.bgBlue {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.worksite-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-size-m);

  font-weight: var(--font-weight-s);

  aspect-ratio: 3 / 1;

  min-width: 30rem;

  &__name {
    grid-column: 1 / -1;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    max-width: 75%;

    p {
      margin: 0;
      line-height: 120%;
    }
  }
  &__address {
    grid-column: 1 / -1;
    max-width: 75%;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);

    p {
      margin: 0;
    }
  }
  &__hours {
    grid-column: 1 / -1;

    display: flex;
    align-items: center;

    &--title {
      font-size: var(--font-size-m);
      width: 10.5rem;
      color: var(--text-light);
      font-weight: var(--font-weight-s);
    }
    &--value {
      font-size: var(--font-size-xl);
      color: var(--color-secondary);
      font-weight: var(--font-weight-l);
    }
  }

  &__total-hours {
    .text {
      color: var(--text-light);
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-s);
    }
    .hours {
      color: var(--color-secondary);
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-l);
    }
  }
}
