
<ng-container *ngIf="worksite$ | async as ws; else loading">

  <div class="sec worksite-info card" [ngClass]="{ bgBlue: bgBlue }">
    <div class="worksite-info__name">
      <p>{{ ws.name ? ws.name : "no title" }}</p>
    </div>
    <div class="worksite-info__address">
      <p *ngIf="showAddress">{{ getAddresss(ws) }}</p>
    </div>
  
    <div *ngIf="showTotal && checkMarked(ws)" class="worksite-info__total-hours">
      <span class="text">Total hours: </span>
      <span class="hours">{{ getFormatHours(ws.marked) }}</span>
    </div>
  </div>

</ng-container>
<ng-template #loading>
  <div class="worksite-info card">
    <p>loading ...</p>
  </div>
</ng-template>
