<nav class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar__content--header" *ngIf="!isHeader">
      <div class="profile-info">
        <div class="circle">
          <img *ngIf="photoUrl" [src]="photoUrl" alt="profile image">
        </div>
        <div class="user">{{ user ? getName : "Please sign in ..." }}</div>
        <div class="date">{{ date ? date : '' }}</div>
      </div>
    </div>
    <div class="sidebar__content--list">
      <ul>
        <li routerLink="selected" routerLinkActive="active">
          <div class="list-item">
            <div class="icon">
              <mat-icon>home</mat-icon>
            </div>
            <span>Home</span>
          </div>
        </li>
        <li routerLink="list" routerLinkActive="active">
          <div class="list-item">
            <div class="icon">
              <mat-icon>list</mat-icon>
            </div>
            <span>List</span>
          </div>
        </li>
        <li routerLink="add" routerLinkActive="active">
          <div class="list-item">
            <div class="icon">
              <mat-icon>add_circle</mat-icon>
            </div>
            <span>Add Hours</span>
          </div>
        </li>
        <li routerLink="hours-list" routerLinkActive="active">
          <div class="list-item">
            <div class="icon">
              <mat-icon> list_alt</mat-icon>
            </div>
            <span>Hours List</span>
          </div>
        </li>
        <li routerLink="statistics" routerLinkActive="active">
          <div class="list-item">
            <div class="icon">
              <mat-icon>assessment</mat-icon>
            </div>
            <span>Statistics</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>