<ng-container *ngIf="worksite$ | async as ws; else loadingWS">
  <app-worksite-info-card
    [title]="ws.name"
    [address]="getAddresss(ws)"
    [totalHours]="getFormatHours(ws.marked)"
  ></app-worksite-info-card>
</ng-container>
<ng-template #loadingWS>
  <p>loading ws ...</p>
</ng-template>

<ng-container *ngIf="sortedHours$ | async as hours; else loadingHours">
  <app-hours-worksite-list-element
    *ngFor="let hour of hours"
    [setHour]="hour"
  ></app-hours-worksite-list-element>
</ng-container>
<ng-template #loadingHours>
  <p>loading ...</p>
</ng-template>
