<main>
  <app-header [title]="'Add Hours'"></app-header>
  <div class="flex-container">
    <app-worksite-info-card
      [title]="'Pirkkala Citymarket'"
      [address]="'Palmrothintie 2, 33950 Pirkkala'"
      [bgBlue]="true"
    >
    </app-worksite-info-card>
  </div>

  <div class="add-hours__container">
    <div class="card flex-container added-hours">
      <p class="marked--text">Day marked hours:</p>
      <p class="marked--hours">17h 30m</p>
    </div>

    <div class="card flex-container date add-hours__component">
      <form
        class="date-form"
        (click)="picker.open()"
      >
        <div class="inner-grid">
          <h2>Date</h2>
          <h2 *ngIf="dateInputAs$ | async as date">{{ date }}</h2>
        </div>
        <mat-form-field
          style="visibility: hidden; height: 1px; margin: 0; padding: 0"
        >
          <mat-label style="visibility: hidden">Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            style="visibility: hidden"
            [formControl]="dateInput"
          />
          <mat-datepicker
            #picker
            color="primary"
            style="visibility: hidden"
          ></mat-datepicker>
        </mat-form-field>
      </form>
    </div>

    <div class="card flex-container dropdown add-hours__component">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="card flex-container dropdown add-hours__component">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Favorite Car</mat-label>
          <mat-select [(ngModel)]="selectedCar" name="car">
            <mat-option *ngFor="let car of cars" [value]="car.value">
              {{ car.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="card flex-container dropdown add-hours__component">
      <mat-slider aria-label="unit(s)"></mat-slider>
    </div>

    <div class="card marked-hours-container">
      <app-marked-hour-info-card></app-marked-hour-info-card>
      <app-marked-hour-info-card></app-marked-hour-info-card>
      <app-marked-hour-info-card></app-marked-hour-info-card>
    </div>
  </div>
</main>
