@import "../../../styles.scss";

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-size-m);
  justify-content: center;

  margin: 0 var(--column-side-size);
  margin-top: var(--size-m);

  @media only screen and (min-width: $bp-medium) {
    margin-bottom: 10vh;
  }
}

.flex-container {
  @include flexCenter();
}

app-worksite-info-card {
  height: 100%;
  width: 100%;
  max-width: var(--info-card-max-width);
}

.add-hours {
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: var(--info-card-max-width);

    display: grid;
    gap: var(--gap-size-m);
  }

  &__component {
    min-height: var(--min-height-m);
  }
}

.added-hours {
  display: grid;
  justify-content: start;

  min-height: var(--min-height-l);
}

.marked {
  &--text {
    color: var(--dark-text);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
  }

  &--hours {
    color: var(--color-secondary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-l);
  }
}

.date {
  display: flex;
  justify-content: space-between;

  &--text {
    font-weight: var(--font-weight-s);
  }

  &--date {
    color: var(--color-secondary);
  }
}

.dropdown {
  display: flex;
  justify-content: space-between;

  &--text {
    font-weight: var(--font-size-s);
  }

  &--carrot {
    color: var(--color-icon-accent);
  }
}

.marked-hours-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size-s);
  min-height: var(--min-height-xl);
}
