@import "../../../styles.scss";

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-size-m);
  justify-content: center;

  margin: 0 var(--column-side-size);
  margin-top: var(--size-m);

  @media only screen and (min-width: $bp-medium) {
    margin-bottom: 10vh;
  }
}

.flex-container {
  @include flexCenter();
}

app-worksite-info-card {
  height: 100%;
  width: 100%;
  max-width: var(--info-card-max-width);
}

.date {
  max-height: 5rem;
}

.add-hours {
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: var(--info-card-max-width);

    display: grid;
    gap: var(--gap-size-m);
  }

  &__component {
    min-height: var(--min-height-m);
    // max-height: 5rem;
  }
}

.added-hours {
  display: grid;
  justify-content: flex-start;

  min-height: var(--min-height-l);
}

.marked {
  &--text {
    color: var(--dark-text);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
  }

  &--hours {
    color: var(--color-secondary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-l);
  }
}

.date {
  display: flex;
  justify-content: space-between;

  &--text {
    font-weight: var(--font-weight-s);
  }

  &--date {
    color: var(--color-secondary);
  }
}

.dropdown {
  display: flex;
  justify-content: space-between;

  &--text {
    font-weight: var(--font-size-s);
  }

  &--carrot {
    color: var(--color-icon-accent);
  }
}

.marked-hours-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size-s);
  min-height: var(--min-height-xl);
}

mat-slider {
  width: 100%;
}

mat-select {
  width: 100%;
}

form {
  width: 100%;
}

.date-form {
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__selected-date {
    font-size: var(--font-size-regular);
  }
}

mat-form-field {
  width: 100%;
}

.inner-grid {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2.ng-star-inserted {
  margin: 0;
}

h2 {
  margin: 0;
}

button {
  margin: 0 auto;
  min-width: 30rem;
  height: 5rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  letter-spacing: 0.1rem;
  cursor: pointer;

  transition: .3s all;

  &:disabled {
    // color: #777;
    // background-color: #ccc;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: var(--box-shadow-button-hover);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  }
}
