<div class="container">
  <header class="header" *ngIf="bpService.isHeader">
    <app-header-profile
      [name]="'Mary'"
      [date]="'Thu 23 Sep, 2021'"
      appGoogleSignin
    ></app-header-profile>
    <div style="display: flex">
      <button (click)="signout()">Signout</button>
    </div>
  </header>
  <div class="content">
    <app-navigation-bar [isHeader]="bpService.isHeader"></app-navigation-bar>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
