<app-navigation (change)="getChange($event)"></app-navigation>
<main>
  <section class="container section section__height" id="home">
    <h2 class="section__title">Home</h2>
  </section>

  <section class="container section section__height" id="about">
    <h2 class="section__title">Worksite List</h2>
  </section>

  <section class="container section section__height" id="skills">
    <h2 class="section__title">Add Hours</h2>
  </section>

  <section class="container section section__height" id="portfolio">
    <h2 class="section__title">Hours List</h2>
  </section>

  <section class="container section section__height" id="contactme">
    <h2 class="section__title">Statistics</h2>
  </section>
</main>
