<div class="container">
  <header class="header" *ngIf="bpService.isHeader">
    <app-header-profile
      [name]="user$ | async"
      [date]="getDate()"
      [photoUrl]="photo$ | async"
      appGoogleSignin
    ></app-header-profile>
  </header>
  <div class="content">
    <app-navigation-bar
      [isHeader]="bpService.isHeader"
      [user]="user$ | async"
      [photoUrl]="photo$ | async"
      [date]="getDate()"
    ></app-navigation-bar>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
