/* SECTION */
.section {
  padding: 4.5rem 0 2rem;
  color: var(--color-white);
  background: var(--color-bg);

  &__title {
    font-size: 2rem;
    color: var(--text-dark);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__height {
    height: 100vh;
  }
}
