/* NAV */
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--color-white);
  box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  width: 100%;

  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: 0.4s;

  height: var(--bottom-nav-height);
  color: var(--text-dark);

  ul {
    display: flex;
    width: 350px;
  }

  ul li {
    position: relative;
    list-style: none;
    width: var(--list-el-size);
    height: var(--list-el-size);
    z-index: 1;
  }

  ul li.active {
    a .icon {
      transform: translateY(-36px);
    }

    a .text {
      opacity: 1;
      transform: translateY(10px);
    }
  }

  ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;

    .icon {
      position: relative;
      display: block;
      line-height: 75px;
      font-size: 1.5em;
      text-align: center;
      transition: 0.5s;
      transition-delay: 0.1s;
      color: var(--text-dark);
    }

    .text {
      position: absolute;
      color: var(--text-dark);
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      opacity: 0;
      transform: translateY(20px);
    }
  }
}

/* INDICATOR */
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--color-tertiarry);
  border-radius: 50%;
  border: 8px solid var(--color-bg);
  transition: 0.5s;
  box-shadow: var(--box-shadow-main);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
  }
}

.indicator .navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(var(--calc-size) * 0));
}
.navigation ul li:nth-child(1).active > a > .icon {
  svg {
    rect {
      fill: var(--color-white);
    }
    path {
      fill: var(--color-white);
    }
  }
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(var(--calc-size) * 1));
}
.navigation ul li:nth-child(2).active > a > .icon {
  svg {
    rect {
      fill: var(--color-white);
    }
    path {
      fill: var(--color-white);
    }
  }
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(var(--calc-size) * 2));
}
.navigation ul li:nth-child(3).active > a > .icon {
  svg {
    rect {
      fill: var(--color-white);
    }
    path {
      fill: var(--color-white);
    }
  }
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(var(--calc-size) * 3));
}
.navigation ul li:nth-child(4).active > a > .icon {
  svg {
    rect {
      fill: var(--color-white);
    }
    path {
      fill: var(--color-white);
    }
  }
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(var(--calc-size) * 4));
}
.navigation ul li:nth-child(5).active > a > .icon {
  svg {
    rect {
      fill: var(--color-white);
    }
    path {
      fill: var(--color-white);
    }
  }
}
