@import "../../../styles.scss";

.header {
  padding: var(--size-m);
  color: var(--color-white);
  background: var(--color-bg);

  color: var(--text-dark);
  font-size: var(--font-size-regular);

  @include gridRepeatColAndRowFr(6, 2);
  align-items: center;

  &__profile-circle {
    height: var(--icon);
    width: var(--icon);
    border-radius: 50%;
    background-color: var(--color-secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  &__welcome-message {
    color: var(--text-dark);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    font-weight: 500;
  }

  &__date {
    color: var(--text-light-sub);
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    font-weight: var(--font-weight-s);
  }
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
