@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;

  margin: var(--size-m);
  margin-top: var(--size-l);
  margin-bottom: calc(var(--header-height) + var(--size-l));
  gap: var(--gap-size-m);
}

.sec {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: var(--gap-size-m);
}

app-hours-chart {
  display: flex;
  justify-content: center;
}

.flex-container {
  @include flexCenter();
}

app-worksite-info-card {
  height: 100%;
  width: 100%;
  max-width: var(--info-card-max-width);
}

.card {
  aspect-ratio: 16 / 9;
  max-height: 14rem;
  max-width: 24rem;

  height: 90%;
  width: 90%;
}

.info-card {
  height: 100%;
  width: 100%;
  max-width: var(--info-card-max-width);
}
