<div class="flex-container">
  <app-worksite-info-card
    [worksite$]="mostRecentWorksite$"
    [showAddress]="false"
    [showTotal]="false"
    [bgBlue]="true"
  ></app-worksite-info-card>
</div>

<div class="sec small-cards">
  <ng-container *ngIf="total$ | async as total; else nocard1">
    <app-small-card
      [end]="true"
      [title]="'Total hours'"
      [value]="total"
    ></app-small-card>
  </ng-container>

  <ng-container *ngIf="totalForDay$ | async as currentDay; else loading2">
    <ng-container *ngIf="isCurrentDayTotalString(currentDay)">
      <app-small-card [start]="true" [title]="'Current day'"></app-small-card>
    </ng-container>
    <ng-container *ngIf="isCurrentDayTotalNumber(currentDay)">
      <app-small-card
        [start]="true"
        [title]="'Current day'"
        [value]="convertToNumber(currentDay)"
      ></app-small-card>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="hours$ | async as hours">
  <app-hours-chart
    [label]="'Weekly hours'"
    [hoursArray]="hours"
    [labelArray]="labelArray"
  ></app-hours-chart>
</ng-container>

<!-- loading tempalates -->
<div class="sec small-cards">
  <ng-template #nocard1>
    <div class="end">
      <div class="card">
        <h2>loading ...</h2>
      </div>
    </div>
  </ng-template>

  <ng-template #loading2>
    <div class="start">
      <div class="card">
        <h2>loading ...</h2>
      </div>
    </div>
  </ng-template>
</div>
