<main class="card-container">
  <app-header [title]="'Recent Worksite'"></app-header>
  <div class="section">
    <app-worksite-info-card
      [worksite$]="mostRecentWorksite$"
      [showAddress]="false"
      [showTotal]="false"
      [bgBlue]="true"
    ></app-worksite-info-card>

    <div class="small-card__container">
      <div class="small-card__unit">
        <app-small-card
          [total$]="total$"
          [title]="'Total hours'"
        ></app-small-card>
      </div>

      <div class="small-card__unit">
        <app-small-card
          [total$]="totalForDay$"
          [title]="'Current day'"
        ></app-small-card>
      </div>
    </div>

    <ng-container *ngIf="hours$ | async as hours">
      <app-hours-chart
        [label]="'Weekly hours'"
        [hoursArray]="hours"
        [labelArray]="labelArray"
      ></app-hours-chart>
    </ng-container>
  </div>
</main>
