@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;

  margin: var(--size-m);
  margin-top: var(--size-l);
  margin-bottom: calc(var(--header-height) + var(--size-l));
  gap: var(--gap-size-m);

  @media only screen and (min-width: $bp-medium) {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
  }
}

.sec {
  grid-column: 2 / 3;

  display: flex;
  width: 100%;
  justify-content: center;
  gap: var(--gap-size-m);
}

.small-cards {
  grid-column: 2 / 3;
  width: 100%;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
}

app-hours-chart {
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
}

.flex-container {
  grid-column: 2 / 3;

  @include flexCenter();
}

app-worksite-info-card {
  height: 100%;
  width: 100%;
  max-width: var(--info-card-max-width);
}

.card {
  aspect-ratio: 16 / 9;
  max-height: 14rem;
  max-width: 24rem;

  height: 100%;
  width: 100%;
}

.info-card {
  height: 100%;
  width: 100%;
  max-width: var(--info-card-max-width);
}
