.worksite-list-el {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(4rem, min-content));
  align-items: center;

  &__title {
    grid-column: 1 / -1;
    font-size: var(--font-size-l);
  }

  &__value {
    grid-column: 1 / -1;
    font-size: var(--font-size-xl);
    color: var(--color-secondary);
    font-weight: var(--font-weight-l);
  }
}
